* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body {
    font-family: 'Outfit';
    background-image: url('../img/home/teladefundo.jpeg');
    display: flex;
    margin: 25px;
    flex: 1 1 100vw;
    flex-wrap: wrap;
}

.container-menu {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    padding: 5px;
}

.logo, .sociais {
    width: 15%;
}

    .logo img {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

.menu {
    width: 60%;
}

    .menu nav a {
        color: white;
        text-decoration: none;
        padding-right: 30px;
        font-size: 18px;
        position: relative;
    }

        .menu nav a::after {
            content: "";
            width: 30px;
            height: 4px;
            background-image: linear-gradient(45deg, #000);
            position: absolute;
            top: 30px;
            left: 0;
            transition: width 0.5s;
        }

        .menu nav a:hover::after {
            width: 30px;
        }

.sociais button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
}

    .sociais button i {
        font-size: 20px;
        color: #000000;
    }

.icon {
    background-color: #000;
    align-items: center;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

main, aside {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 70px 0px 70px;
}

main {
    flex: 20 1 850px;
    height: calc(100vh - 224px);
    display: flex;
    justify-content: center;
    align-items: safe center;
    color: white;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

aside {
    flex: 20 1 500px;
    height: calc(100vh - 224px);
}

@keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 816px) {

    .menu nav a {
        font-size: 16px;
    }
}
